
.cell.new-custom img {
  margin: 37px;
}
#StartupBorder {
  width:300px;
  height:30px;
  border-left:3px solid cyan;
}
#StartupIcon {
  width:33px;
  height:30px;
  margin-left:5px;
}
#StartupMessage {
  color:cyan;
  height:25px;
  padding-left:125px;
  padding-top:7px;
}
span.customClass {
  bottom: 5px;
  color: #808691;
  font-weight: 400;
  position: absolute;
  left: 109px;
  font-size:14px;
}
